*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    font-size: 100%;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/best.webp) 0 0 no-repeat fixed;
    background-image: url(../images/best.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #464646;
    overflow-x: hidden;
}

.img1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://images.squarespace-cdn.com/content/v1/5b788d28697a98e17a6d4c7a/b83f0eab-7dd6-4e9b-83a1-13139ac2a03b/rickroll+cropped.png) 0 0 no-repeat fixed;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b788d28697a98e17a6d4c7a/b83f0eab-7dd6-4e9b-83a1-13139ac2a03b/rickroll+cropped.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #464646;
}

.context {
    color: #464646;
    width: max(40%, 300px);
}

#contact-section {
    width: 100vw;
    height: auto;
    background-color: rgb(245, 245, 245);
}


#main-content section {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* max-width: 1280px; */
    /* min-width: 960px; */
    /* width: 100%; */
    /* padding: 32px 22px; */
}

#contact {
    margin-top: 20px;
    /* background-color: white; */
    border-radius: 20px;
    color: #464646;
    width: 100%;
    /* width: max(30%, 300px); */
}

.contact-skill {
    padding: 0 !important;
}

.skill {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    color: #464646;
    width: max(70%, 300px);
}

.main-container {
    color: black;
    ;
}

h2 {
    font-weight: 600 !important;
    font-size: 48px !important;
}